<div class="container">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      	<a class="brand" href="#">
  			lucidmoon :: Radium Test
			</a>
		   	<ul class="nav">
				<li><a {{action redirectToHome}}>Home</a></li>
				<li><a {{action redirectToFeed}}>Feed</a></li>
			</ul>
	    </div>
	  </div>
	</div>
    <div class="well">
        {{outlet}}
    </div>
</div>